[package]
name = "ctap-types"
version = "0.1.2"
authors = ["Nicolas Stalder <n@stalder.io>"]
edition = "2021"
license = "Apache-2.0 OR MIT"
description = "no_std friendly types for FIDO CTAP"
homepage = "https://github.com/solokeys/ctap-types"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "1.3"
cbor-smol = "0.4"
cosey = "0.3"
delog = "0.1"
heapless = { version = "0.7", default-features = false, features = ["serde"] }
heapless-bytes = "0.3"
interchange = "0.2.1"
iso7816 = "0.1"
serde = { version = "1", default-features = false, features = ["derive"] }
serde-indexed = "0.1"
serde_repr = "0.1"

[features]
log-all = ["cbor-smol/log-all"]
log-none = []

[patch.crates-io]
iso7816 = { git = "https://github.com/sosthene-nitrokey/iso7816.git", rev = "06d50afc232a2326ec90e08c266c6f8ad54b0735"}

# heapless = { git = "https://github.com/nickray/heapless", branch = "bytebuf-0.5.6" }
